<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'> Who do you look like more, Elon Musk or Brad Pitt? </div>
    <p>
      <strong>Upload an image of yourself to find out!</strong> 
      <br/>
      <i> Disclaimer: This is just for fun. If you thought you looked like one more than the other and had your dreams shattered, well, time to face the cold hard facts.</i>
      </br>
  I'm using resnet34, retrained on 100 photos of both celebrities. Metrics aren't too hot right now but I'll tweak the hyperparameters later.
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
